<div [ngClass]="{'d-none' : clientShow.value}" class="xdr-side">
    <div class="user-data">
        <div class="asset avatar">
            <img src="{{Config.siteImages.avatars}}{{Habbo.look}}&size=m&action=wav&direction=2&head_direction=2&gesture=sml" />
        </div>
        <div class="username-field">
            <div class="welcome-message">Hola mi nombre es...</div>
            <div class="username">Mr.Mustache</div>
            <div class="user-game">
                    <a routerLink="/hotel" class="button habbo text-upper text-bold">Jugar Ahora <span class="flashy-arrow"></span></a>
            </div>   
        </div>
        <div class="actions">
            <a routerLink="/settings" class="transparent"><span class="asset settings"></span></a>
            <!--<a routerLink="/acp" class="transparent"><span class="asset-2 key"></span></a>-->
            <a (click)="logout()" class="transparent"><span class="asset-2 close"></span></a>
        </div>
    </div>
    <div class="section">
        <div class="section-title"><span class="asset information"></span> Información</div>
        <div class="section-content">
            <div class="currency">
                <div class="coin"><span class="asset credits"></span> <b>{{ Habbo.credits }}</b></div>
                <div class="coin"><span class="asset duckets"></span> <b>{{ Habbo.duckets }}</b></div>
                <div class="coin"><span class="asset diamonds"></span> <b>{{ Habbo.diamonds }}</b></div>
            </div>
            <div class="user-information"><span class="asset time"></span> <b>Última Conexión:</b> {{ Habbo.ParseUnixTime(Habbo.last_online) }}</div>
            <div class="user-information"><span class="asset key"></span> <b>Cread@:</b> {{ Habbo.account_created }}</div>
            <div class="user-information"><span class="asset star"></span> <b>Rango:</b> {{ Habbo.rank }}</div>
        </div>
    </div>
    <div class="section">
        <div class="section-title"><span class="asset groups"></span> Mis Placas</div>
        <div class="section-content">
            <div class="unavailable">Aún no disponible en aXDR Angular Alpha...</div>
        </div>
    </div>
</div>
