<div [ngClass]="{'d-none' : clientShow.value}" class="xdr-side">
    <div class="row">
        <div class="cell">
            <div class="box">
                <div class="sideHeader m-0 fg-light">{{ Habbo.username }} <span id="status" class="online"></span></div>
                <div class="user-data">
                    <div class="avatar">
                        <img src="https://habbo.com.tr/habbo-imaging/avatarimage?figure={{Habbo.look}}&size=l&action=wlk,wav&direction=2&head_direction=2&gesture=sml" />
                    </div>
                    <div class="information fg-light">
                        <div class="last-login">
                            <b>Última Conexión:</b> {{ Habbo.ParseUnixTime(Habbo.last_online) }}
                        </div>
                        <div class="join-date">
                            <b>Cread@:</b> {{ Habbo.account_created }}
                        </div>
                        <a routerLink="/hotel" class="button habbo m-1 text-upper text-bold">Jugar Ahora <span class="flashy-arrow"></span></a>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="title m-0 fg-light"><span class="currency"></span> Monedero</div>
                <div class="content fg-grayBlue">
                    <div class="row">
                        <div class="cell-2"><span class="credits"></span></div>
                        <div class="cell"><b>{{ Habbo.credits }}</b> Créditos</div>
                    </div>
                    <div class="row">
                        <div class="cell-2"><span class="duckets"></span></div>
                        <div class="cell"><b>{{ Habbo.diamonds }}</b> Pixeles</div>
                    </div>
                    <div class="row">
                        <div class="cell-2"><span class="diamonds"></span></div>
                        <div class="cell"><b>{{ Habbo.duckets }}</b> Diamantes</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="title m-0 fg-light"><span class="groups"></span> Placas & Grupos</div>
                <div class="content fg-grayBlue">
                    No Badges Available
                </div>
            </div>
        </div>
    </div>
</div>
