<div class="container">
    <div class="row">
        <div class="cell-7">
            <div class="box">
                <div class="title">Probando Cositas</div>
                <div class="content">
                    <div class="promo" style="background: url('https://images.habbo.com/web_images/habbo-web-articles/lpromo_2019_habbo2020.png') -125px 0;">
                        <div class="title">
                            INTERFAZ DE USUARI@ HABBO 2020
                        </div>
                        <div class="description">
                            ¡Queremos aclarar algunas cosas sobre la interfaz de usuari@ de Habbo 2020!
                        </div>
                        <div class="actions">

                        </div>
                    </div>
                    <div class="promo" style="background: url('https://images.habbo.com/web_images/habbo-web-articles/lpromo_WitchAcademybundle.png') -125px 0;">
                        <div class="title">
                            GANADORES 13 FURNIS HABBOWEEN
                        </div>
                        <div class="description">
                            ¡Wow, hemos recibido cerca de 200 salas de 13 Furnis de Habboween! :) Nos ha encantado revisarlas todas y ver las creaciones...
                        </div>
                        <div class="actions">

                        </div>
                    </div>
                    <div class="promo" style="background: url('https://images.habbo.com/web_images/habbo-web-articles/lpromo_gen_amb_1-1.png') -125px 0;">
                        <div class="title">
                            CONCURSO DE PLACAS
                        </div>
                        <div class="description">
                            ¿Eres bueno pixelando? ¡Es el momento que saques a flote tus conocimientos en Pixel Art y los pongas en práctica!
                        </div>
                        <div class="actions">

                        </div>
                    </div>
                    <div class="promo" style="background: url('https://images.habbo.com/web_images/habbo-web-articles/lpromo_jan19_gen.png') -125px 0;">
                        <div class="title">
                            ENERO EN HABBO
                        </div>
                        <div class="description">
                            ¡Comienza el año y con él una nueva oportunidad de hacerte con furnis nuevos y aumentar tu colección de raros!
                        </div>
                        <div class="actions">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="box">
                <div class="title">Últimas Noticias</div>
                <div class="content">
                </div>
            </div>
        </div>
    </div>
</div>