<div class="container">
    <div class="row">
        <div class="cell">
            <div class="box">
                <div class="title">Probando Cositas</div>
                <div class="content">
                    {{Habbo.settings.web_header}}
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="box">
                <div class="title">Últimas Noticias</div>
                <div class="content">
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="box">
                <div class="title">Últimas Noticias</div>
                <div class="content">
                </div>
            </div>
        </div>
    </div>
</div>