<div class="row">
    <div class="welcome">
        Bienvenido a <b>{{ Config.siteName }}</b>, actualmente se encuentran <b>{{ OnlineCount }}</b> usuarios en línea. ¡Haz click en <a routerLink="/hotel">Jugar Ahora</a> para entrar a nuestro servidor!
    </div>
</div>
<div class="row">
    <div class="pageTitle">
        <span class="asset people"></span> Inicio
    </div>
</div>
<div class="row">
    <div class="articles-section">
        <div class="articles-section-title"></div>
        <div class="articles-section-content"></div>
    </div>
</div>
<div class="row">
    <div class="cell">
        <iframe src="https://discordapp.com/widget?id=634445402539556874&theme=dark" width="auto" height="500" allowtransparency="true" frameborder="0"></iframe>
    </div>
    <div class="cell">
        <div class="box">
            <div class="title">Nuestro Facebook</div>
            <div class="content">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGabbuzHTel&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=656533071187201" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</div>