<div>
    <div class="row">
        <div class="cell">
            <div class="box">
                <div class="title">Fundadores</div>
                <div class="content">Mi nombre es {{ Habbo.username }}</div>
            </div>
            <div class="box">
                <div class="title">CEO</div>
                <div class="content"></div>
            </div>
            <div class="box">
                <div class="title">Administradores</div>
                <div class="content"></div>
            </div>
            <div class="box">
                <div class="title">Moderadores</div>
                <div class="content"></div>
            </div>
        </div>
        <div class="cell-5">
                <div class="box darkTransparent">
                    <div class="title fg-light">¿Qué son los Staffs?</div>
                    <div class="content fg-light">
                        Son los que están detrás de Habbons, todos aquellos que pasan el día estrujándose la cabeza en busca de nuevas ideas y para sacar adelante todas esas locuras. Siempre atentos para que todo funcione sin problemas y, por encima de todo, que Habbons sea el lugar seguro del que sentirse orgullosos. Criticados, admirados,..... siempre tratan de hacerlo lo mejor posible.
                        <br><br>
                        Los puedes distinguir al pinchar sobre ellos, siempre llevan su respectiva placa bien visible.
                        <br><br>
                        ¡Conócelos!
                    </div>
                </div>
        </div>
    </div>
</div>