<div class="row">
    <div class="cell">
        <div class="box rank" *ngFor="let rank of ranks">
            <div class="title">
                <span></span>
                {{rank.name}}
            </div>
            <div class="content">
                <div class="staff" *ngFor="let user of rank.users">
                    <div class="avatar">
                        <img src="https://habbo.city/habbo-imaging/avatarimage?figure={{user.look}}&size=l&action=&direction=2&head_direction=2&gesture=sml" alt="">
                    </div>
                    <div class="information">
                        <div class="row">
                            <div class="cell">
                                <div id="username">{{user.username}} <span class="status" id="{{user.online == '1' ? 'online' : 'offline'}}"></span></div>
                                <div id="last_login">Última Conexión: {{ Habbo.ParseUnixTime(user.last_online) }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cell-4">
            <div class="box darkTransparent">
                <div class="title fg-light">¿Qué son los Staffs?</div>
                <div class="content fg-light">
                    Son los que están detrás de Habbons, todos aquellos que pasan el día estrujándose la cabeza en busca de nuevas ideas y para sacar adelante todas esas locuras. Siempre atentos para que todo funcione sin problemas y, por encima de todo, que Habbons sea el lugar seguro del que sentirse orgullosos. Criticados, admirados,..... siempre tratan de hacerlo lo mejor posible.
                    <br><br>
                    Los puedes distinguir al pinchar sobre ellos, siempre llevan su respectiva placa bien visible.
                    <br><br>
                    ¡Conócelos!
                </div>
            </div>
    </div>
</div>