<div>
    <div class="row">
        <div class="col">
            <form action="">
                <h6><b>WEB</b></h6>
                <div class="row mb-2">
                    <div class="cell-sm-4">Elige tu propio estilo de fondo</div>
                    <div class="cell-sm-4">
                        <select class="arctic" name="settings.web_background" [(ngModel)]="settings.web_background" (change)="changeBackground(settings.web_background)" data-role="select" data-filter="false">
                            <option *ngFor="let option of bgOptions" [value]="option" selected>{{ option }}</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="cell-sm-4">Elige tu propio estilo de encabezado</div>
                    <div class="cell-sm-4">
                        <select class="arctic" name="settings.web_header" [(ngModel)]="settings.web_header" (change)="changeHeader(settings.web_header)" data-role="select" data-filter="false">
                            <option *ngFor="let option of headerOptions" [value]="option" selected>{{ option }}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>