<div>
    <div class="row">
        <div class="col">
            <form action="">
                <h6><b>WEB</b></h6>
                <div class="row mb-2">
                    <div class="cell-sm-4">Elige tu propio estilo de fondo</div>
                    <div class="cell-sm-4">
                        <select class="arctic" name="settings.web_background" [(ngModel)]="settings.web_background" (change)="changeBackground(settings.web_background)" data-role="select" data-filter="false">
                            <option *ngFor="let option of bgOptions" [value]="option" selected>{{ option }}</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="cell-sm-4">Elige tu propio estilo de encabezado</div>
                    <div class="cell-sm-4">
                        <select class="arctic" name="settings.web_header" [(ngModel)]="settings.web_header" (change)="changeHeader(settings.web_header)" data-role="select" data-filter="false">
                            <option *ngFor="let option of headerOptions" [value]="option" selected>{{ option }}</option>
                        </select>
                    </div>
                </div>
            </form>
            <m4-dialog #about class="xdr-dialog" width="100%" [overlay]="true" overlay-color="#000000" [overlay-alpha]="0.8">
                <div dialog-title>aXDR Angular</div>
                <div dialog-content>
                    Current Build: <b>Alpha 25112019126</b>
                    <br>
                    Author: <b>Mr.Mustache</b>
                    <br>
                    License: <b>{{ Config.siteName }}</b>
                    <br>
                    <i>Still on development...</i>
                    <br>
                    <li>Interactive Side Bar!</li>
                    <li>Administrator Control Panel INTRODUCTION!</li>
                    <li>ALL WEB DESIGN IMPROVEMENT! (HEADER, LOGIN, REGISTER, ME, COMMUNITY, TOPS, STAFF, EVERYTHING!)</li>
                    <li>Profile Pages INTRODUCTION!</li>
                    <li> PAPERS INTRODUCTION! (Privacy, Cookies, Terms & Conditions)</li>
                    <li>SOCKETS INTRODUCTION!</li>
                    <li>Ensure that you can open the WEB multiple times but don't load the client until the user clicks on it.</li>
                </div>
                <div dialog-actions>
                    <button class="button habbo red js-dialog-close">Cerrar</button>
                </div>
            </m4-dialog>
            <button class="button habbo blue" (click)="about.open()">Acerca de</button>
        </div>
    </div>
</div>