<div class="container">
    <div class="row">
        <div class="pageTitle">
            <span class="asset people"></span> Comunidad
        </div>
    </div>
    <div class="row">
        <div class="dailyRewards">
            <button class="reward">
                <div class="reward-icon">
                    <span class="asset-2 credits-1"></span>
                </div>
                <div class="reward-caption">100 Creditos</div>
            </button>
            <button class="reward">
                <div class="reward-icon">
                    <span class="asset-2 credits-2"></span>
                </div>
                <div class="reward-caption">100 Creditos</div>
            </button>
            <button class="reward claim" m4-animation="float">
                <div class="reward-claim-title">¡Reclamar!</div>
                <div class="reward-icon">
                    <span class="asset-2 credits-3"></span>
                </div>
                <div class="reward-caption">100 Creditos</div>
            </button>
            <button class="reward">
                <div class="reward-icon">
                    <span class="asset-2 credits-4"></span>
                </div>
                <div class="reward-caption">100 Creditos</div>
            </button>
            <button class="reward">
                <div class="reward-icon">
                    <span class="asset-2 credits-5"></span>
                </div>
                <div class="reward-caption">100 Creditos</div>
            </button>
            <button class="reward">
                <div class="reward-icon">
                    <span class="asset-2 credits-6"></span>
                </div>
                <div class="reward-caption">100 Creditos</div>
            </button>
            <button class="reward">
                <div class="reward-icon">
                    <span class="asset-2 credits-7"></span>
                </div>
                <div class="reward-caption">100 Creditos</div>
            </button>
        </div>
    </div>
</div>