.dailyRewards {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  padding: 15px 0px;
}

.dailyRewards .reward {
  align-items: center;
  background: linear-gradient(to bottom, #006482, #54a3c1);
  border: 1px solid #106d8b;
  border-radius: 4px;
  display: flex;
  flex-flow: column;
  font-family: 'Ubuntu Condensed';
  justify-content: center;
  margin: 5px 10px;
  outline: none;
}

.dailyRewards .reward.claim {
  background: linear-gradient(to bottom, #eaa222, #f1cc8a);
  border: 2px solid #eaa222;
  cursor: pointer;
}

.dailyRewards .reward.claim:hover {
  background: linear-gradient(to bottom, #eaa222, #f1cc8a);
  border: 2px solid #d89820;
}

.dailyRewards .reward.claim:active {
  background: radial-gradient(#de9f2f, #925d00)
}

.dailyRewards .reward .reward-claim-title {
  color: #ffffff;
  font-size: 16pt;
  text-transform: uppercase;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}

.dailyRewards .reward .reward-icon {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  opacity: 0.5;
}

.dailyRewards .reward.claim .reward-icon {
  opacity: 1;
}

.dailyRewards .reward .reward-caption {
  color: #ffffff;
  font-size: 12pt;
  font-weight: bolder;
}