<div [ngClass]="{'d-none' : clientShow.value}">
    <div class="row m-0 arctic-header {{ Habbo.settings.web_header }} py-2">
        <div class="cell">
            <img src="../../../assets/images/gabbuz_modern.png" alt="">
        </div>
        <div class="cell arctic-cell-menu">
            <ul class="h-menu arctic-menu">
                <li *ngFor="let tab of tabs">
                    <a [routerLink]="tab.path"><span class="asset arrow"></span>{{ tab.title }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row arctic-subHeader {{ Habbo.settings.web_header }} py-2">
        <div class="cell">
            <ul class="h-menu arctic-subMenu">
                <li @fadeInOut *ngFor="let subTab of currentSubTabs">
                    <a [routerLink]="subTab.path">{{ subTab.title }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>