/* Arctic NEW UI! */
.arctic-header {
    background: #001629;
    background: -webkit-linear-gradient(to bottom, #003f75, #001629);
    background: linear-gradient(to bottom, #003f75, #001629);
    box-shadow: 0px 0px 5px 1px black;
    z-index: 2;
  }
  
  .arctic-header.darken {
    background: #1f1f1f;
  }
  
  .arctic-subHeader {
    background: #171717;  
  }
  
  .arctic-logo {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 1px 0 0 rgba(64, 64, 64, 0.5);
    height: 57px;
    overflow: hidden;
  }
  
  .arctic-logo > img {
    margin: 8px 0;
  }
  
  .arctic-cell-menu {
    line-height: 57px;
  }
  
  ul.arctic-menu, ul.arctic-subMenu {
    background: transparent;
  }
  
  ul.arctic-menu > li, ul.arctic-subMenu > li {
  
  }
  
  ul.arctic-menu > li:hover, ul.arctic-subMenu > li:hover {
    background: none;
  }
  
  ul.arctic-menu > li > a, ul.arctic-subMenu > li > a {
    color: white;
    padding: 0;
    font-weight: bold;
  }
  
  ul.arctic-menu > li > a {
    font-size: 14pt;
    margin: 0px 10px;
    text-shadow: 0px 2px 3px black;
  }
  
  ul.arctic-menu > li > a:hover {
    text-shadow: 0px 1px 3px #887c7c;
  }
  
  ul.arctic-menu > li > a.arctic-disabled {
    cursor: default;
    color: rgba(255, 255, 255, 0.55) !important;
  }
  
  ul.arctic-subMenu > li > a {
    margin: 2px 10px;
    font-size: 10pt;
  }