<div @fadeIn class="container">
    <div class="row">
        <div class="pageTitle">
            <span class="asset people"></span> Usuarios Tops
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <div class="habbo-box">
                <div class="header">Top <i>10</i> Créditos</div>
                <div class="content">
                    <div class="row m-0">
                        <div class="first">
                            <div class="top-avatar">
                                <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-180-1.lg-280-64.sh-906-64.ch-235-82.hr-155-38&size=m&action=&direction=2&head_direction=2&gesture=sml" alt="">
                            </div>
                            <div class="top-information">
                                <div class="top-username"><div class="top-place">1</div> BrocK <span class="status" id="online"></span></div>
                                <div class="top-currency"><span class="credits"></span> <b>1000</b> Créditos</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <div class="ranking-user">
                                <div class="ranking-place">2</div>
                                <div class="ranking-avatar">
                                        <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-190-1.ch-255-76.lg-275-64.hr-110-39&size=s&action=&direction=2&head_direction=2&gesture=sml&headonly=true" alt="">
                                </div>
                                <div class="ranking-username">Mr.Mustache</div>
                                <div class="ranking-currency"><b>950</b> Créditos</div>
                            </div>
                            <div class="ranking-user">
                                <div class="ranking-place">3</div>
                                <div class="ranking-avatar">
                                        <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-190-1.ch-255-76.lg-275-64.hr-110-39&size=s&action=&direction=2&head_direction=2&gesture=sml&headonly=true" alt="">
                                </div>
                                <div class="ranking-username">Mr.Mustache</div>
                                <div class="ranking-currency"><b>950</b> Créditos</div>
                            </div>
                            <div class="ranking-user">
                                <div class="ranking-place">4</div>
                                <div class="ranking-avatar">
                                        <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-190-1.ch-255-76.lg-275-64.hr-110-39&size=s&action=&direction=2&head_direction=2&gesture=sml&headonly=true" alt="">
                                </div>
                                <div class="ranking-username">Mr.Mustache</div>
                                <div class="ranking-currency"><b>950</b> Créditos</div>
                            </div>
                            <div class="ranking-user">
                                <div class="ranking-place">5</div>
                                <div class="ranking-avatar">
                                        <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-190-1.ch-255-76.lg-275-64.hr-110-39&size=s&action=&direction=2&head_direction=2&gesture=sml&headonly=true" alt="">
                                </div>
                                <div class="ranking-username">Mr.Mustache</div>
                                <div class="ranking-currency"><b>950</b> Créditos</div>
                            </div>
                            <div class="ranking-user">
                                <div class="ranking-place">6</div>
                                <div class="ranking-avatar">
                                        <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-190-1.ch-255-76.lg-275-64.hr-110-39&size=s&action=&direction=2&head_direction=2&gesture=sml&headonly=true" alt="">
                                </div>
                                <div class="ranking-username">Mr.Mustache</div>
                                <div class="ranking-currency"><b>950</b> Créditos</div>
                            </div>
                            <div class="ranking-user">
                                <div class="ranking-place">7</div>
                                <div class="ranking-avatar">
                                        <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-190-1.ch-255-76.lg-275-64.hr-110-39&size=s&action=&direction=2&head_direction=2&gesture=sml&headonly=true" alt="">
                                </div>
                                <div class="ranking-username">Mr.Mustache</div>
                                <div class="ranking-currency"><b>950</b> Créditos</div>
                            </div>
                            <div class="ranking-user">
                                <div class="ranking-place">8</div>
                                <div class="ranking-avatar">
                                        <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-190-1.ch-255-76.lg-275-64.hr-110-39&size=s&action=&direction=2&head_direction=2&gesture=sml&headonly=true" alt="">
                                </div>
                                <div class="ranking-username">Mr.Mustache</div>
                                <div class="ranking-currency"><b>950</b> Créditos</div>
                            </div>
                            <div class="ranking-user">
                                <div class="ranking-place">9</div>
                                <div class="ranking-avatar">
                                        <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-190-1.ch-255-76.lg-275-64.hr-110-39&size=s&action=&direction=2&head_direction=2&gesture=sml&headonly=true" alt="">
                                </div>
                                <div class="ranking-username">Mr.Mustache</div>
                                <div class="ranking-currency"><b>950</b> Créditos</div>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="habbo-box">
                <div class="header">Top <i>10</i> Créditos</div>
                <div class="content">
                    <div class="row m-0">
                        <div class="first">
                            <div class="top-avatar">
                                <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-180-1.lg-280-64.sh-906-64.ch-235-82.hr-155-38&size=m&action=&direction=2&head_direction=2&gesture=sml" alt="">
                            </div>
                            <div class="top-information">
                                <div class="top-username"><div class="top-place">1</div> BrocK <span class="status" id="online"></span></div>
                                <div class="top-currency"><span class="credits"></span> <b>1000</b> Créditos</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <div class="ranking-user">
                                <div class="ranking-place">2</div>
                                <div class="ranking-avatar">
                                        <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-190-1.ch-255-76.lg-275-64.hr-110-39&size=s&action=&direction=2&head_direction=2&gesture=sml&headonly=true" alt="">
                                </div>
                                <div class="ranking-username">Mr.Mustache</div>
                                <div class="ranking-currency"><b>950</b> Créditos</div>
                            </div>
                            <div class="ranking-user">
                                <div class="ranking-place">3</div>
                                <div class="ranking-avatar">
                                        <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-190-1.ch-255-76.lg-275-64.hr-110-39&size=s&action=&direction=2&head_direction=2&gesture=sml&headonly=true" alt="">
                                </div>
                                <div class="ranking-username">Mr.Mustache</div>
                                <div class="ranking-currency"><b>950</b> Créditos</div>
                            </div>
                            <div class="ranking-user">
                                <div class="ranking-place">4</div>
                                <div class="ranking-avatar">
                                        <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-190-1.ch-255-76.lg-275-64.hr-110-39&size=s&action=&direction=2&head_direction=2&gesture=sml&headonly=true" alt="">
                                </div>
                                <div class="ranking-username">Mr.Mustache</div>
                                <div class="ranking-currency"><b>950</b> Créditos</div>
                            </div>
                            <div class="ranking-user">
                                <div class="ranking-place">5</div>
                                <div class="ranking-avatar">
                                        <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-190-1.ch-255-76.lg-275-64.hr-110-39&size=s&action=&direction=2&head_direction=2&gesture=sml&headonly=true" alt="">
                                </div>
                                <div class="ranking-username">Mr.Mustache</div>
                                <div class="ranking-currency"><b>950</b> Créditos</div>
                            </div>
                            <div class="ranking-user">
                                <div class="ranking-place">6</div>
                                <div class="ranking-avatar">
                                        <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-190-1.ch-255-76.lg-275-64.hr-110-39&size=s&action=&direction=2&head_direction=2&gesture=sml&headonly=true" alt="">
                                </div>
                                <div class="ranking-username">Mr.Mustache</div>
                                <div class="ranking-currency"><b>950</b> Créditos</div>
                            </div>
                            <div class="ranking-user">
                                <div class="ranking-place">7</div>
                                <div class="ranking-avatar">
                                        <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-190-1.ch-255-76.lg-275-64.hr-110-39&size=s&action=&direction=2&head_direction=2&gesture=sml&headonly=true" alt="">
                                </div>
                                <div class="ranking-username">Mr.Mustache</div>
                                <div class="ranking-currency"><b>950</b> Créditos</div>
                            </div>
                            <div class="ranking-user">
                                <div class="ranking-place">8</div>
                                <div class="ranking-avatar">
                                        <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-190-1.ch-255-76.lg-275-64.hr-110-39&size=s&action=&direction=2&head_direction=2&gesture=sml&headonly=true" alt="">
                                </div>
                                <div class="ranking-username">Mr.Mustache</div>
                                <div class="ranking-currency"><b>950</b> Créditos</div>
                            </div>
                            <div class="ranking-user">
                                <div class="ranking-place">9</div>
                                <div class="ranking-avatar">
                                        <img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure=hd-190-1.ch-255-76.lg-275-64.hr-110-39&size=s&action=&direction=2&head_direction=2&gesture=sml&headonly=true" alt="">
                                </div>
                                <div class="ranking-username">Mr.Mustache</div>
                                <div class="ranking-currency"><b>950</b> Créditos</div>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</div>