/*New XDR UI!*/
.xdr-container {
  overflow: hidden;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
}

.xdr-pageContent {
  flex: 1 1 auto;
  padding: 10px 20px;
  overflow: scroll;
  overflow-x: hidden;
}

.xdr-container.default {
  background: #1a2980;
  background: -webkit-linear-gradient(to top, #26d0ce, #1a2980);
  background: linear-gradient(to top, #26d0ce, #1a2980);
  color: #ffffff;
}

.xdr-container.dark {
  background: #232325;
  background: -webkit-linear-gradient(to top, #000621, #232325);
  background: linear-gradient(to top, #000e4c, #232325);
  color: #ffffff;
}

.xdr-container.light {
  background: #9edbff;
  background: linear-gradient(to top, #62beff, #9edbff);
  color: #212121;
}

.xdr-container.habbo {
  background: url('../../../assets/images/habbo_bg.png');
}

/*OLD ARCTIC UI*/
.arctic-body {
    flex: 1 1 auto;
    flex-flow: row;
    height: 100%;
    background: #1a2980;
    background: -webkit-linear-gradient(to top, #26d0ce, #1a2980);
    background: linear-gradient(to top, #26d0ce, #1a2980);
    overflow: hidden;
    padding: 0;
  }
  
  .arctic-body.radial {
    background: #070d19;
    background: radial-gradient(circle at center, #00528c, #070d19);
  }
  
  .arctic-body.morning {
    background: #0089ff;
    background: -webkit-linear-gradient(to top, #31bdff, #0089ff);
    background: linear-gradient(to top, #31bdff, #0089ff);
  }
  
  .arctic-body.late {
    background: #c55200;
    background: -webkit-linear-gradient(to top, #f38425, #c55200);
    background: linear-gradient(to top, #f38425, #c55200)
  }
  
  .arctic-body.nite {
    background: #232325;
    background: -webkit-linear-gradient(to top, #000621, #232325);
    background: linear-gradient(to top, #000e4c, #232325);
  }
  
  .arctic-grid {
    flex: 1 1 auto;
  }
  
  .arctic-wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row;
    overflow: hidden;
    height: 100%;
  }
  
  .arctic-content {
    overflow: auto;
  }