/*New Arctic UI!*/
.arctic-body {
    flex: 1 1 auto;
    flex-flow: row;
    height: 100%;
    background: #1a2980;
    background: -webkit-linear-gradient(to top, #26d0ce, #1a2980);
    background: linear-gradient(to top, #26d0ce, #1a2980);
    overflow: hidden;
    padding: 0;
  }
  
  .arctic-body.radial {
    background: #070d19;
    background: radial-gradient(circle at center, #00528c, #070d19);
  }
  
  .arctic-body.morning {
    background: #0089ff;
    background: -webkit-linear-gradient(to top, #31bdff, #0089ff);
    background: linear-gradient(to top, #31bdff, #0089ff);
  }
  
  .arctic-body.late {
    background: #c55200;
    background: -webkit-linear-gradient(to top, #f38425, #c55200);
    background: linear-gradient(to top, #f38425, #c55200)
  }
  
  .arctic-body.nite {
    background: #232325;
    background: -webkit-linear-gradient(to top, #000621, #232325);
    background: linear-gradient(to top, #000e4c, #232325);
  }
  
  .arctic-grid {
    flex: 1 1 auto;
  }
  
  .arctic-wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row;
    overflow: hidden;
    height: 100%;
  }
  
  .arctic-content {
    overflow: auto;
  }
  
  app-side {
    background: #afafaf;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.7);
    flex: 0 0 350px;
    display: flex;
    flex-flow: column;
    z-index: 0;
  }
  
  app-side.darken {
    background: #080808;
  }
  
  app-side.skyBlue {
    background: #64c5ff;;
  }