<div class="row">
    <div class="mini-promo" style="background: url(https://images.habbo.com/web_images/habbo-web-articles/lpromo_referral.png) 280px 0">
        <div class="information">
            <div class="title">For on this day of all days a giant hand brought... stuff?</div>
            <div class="description">Limited text taken from the article will be displayed here in two lines of text.</div>
            <div class="actions">
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="mini-promo" style="background: url(https://images.habbo.com/web_images/habbo-web-articles/lpromo_2016doublecredits.png) 280px 0">
        <div class="information">
            <div class="title">For on this day of all days a giant hand brought... stuff?</div>
            <div class="description">Limited text taken from the article will be displayed here in two lines of text.</div>
            <div class="actions">
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="mini-promo" style="background: url(https://images.habbo.com/web_images/habbo-web-articles/lpromo_gen_baw_3.png) 280px 0">
        <div class="information">
            <div class="title">For on this day of all days a giant hand brought... stuff?</div>
            <div class="description">Limited text taken from the article will be displayed here in two lines of text.</div>
            <div class="actions">
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="mini-promo" style="background: url(https://images.habbo.com/web_images/habbo-web-articles/ny_large_promo.png) 280px 0">
        <div class="information">
            <div class="title">For on this day of all days a giant hand brought... stuff?</div>
            <div class="description">Limited text taken from the article will be displayed here in two lines of text.</div>
            <div class="actions">
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
</div>