<div @fadeIn class="row h-100 m-0">
    <div class="cell">
        <div class="box">
            <div class="display2 fg-light text-bold">Conéctate.</div>
            <form  #loginForm="ngForm" (ngSubmit)="signIn()" data-role="validator" action="javascript:" data-interactive-check="true">
                  <div *ngIf="isError" class="bg-darkRed fg-white rounded text-small text-bold m-2 p-1">{{errorMsg}}</div>
                  <div class="form-group">
                    <label class="fg-lightGrayBlue text-bold">Usuario</label>
                    <input class="arctic fg-grayBlue" [(ngModel)]="credentials.identification" name="credentials.identification" type="text" autocomplete="on" data-role="input" data-validate="required">
                    <span class="invalid_feedback">
                        ¡Oops! Ingresa tu usuario correctamente...
                    </span>
                </div>
                <div class="form-group">
                    <label class="fg-lightGrayBlue text-bold">Contraseña</label>
                    <input class="arctic fg-grayBlue" [(ngModel)]="credentials.password" name="credentials.password" type="password" autocomplete="on" data-role="input" data-validate="required">
                    <span class="invalid_feedback">
                        ¡Oops! Ingresa tu contraseña correctamente...
                    </span>
                </div>
                <div class="form-group">
                    <button class="button habbo" type="submit">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="cell-8 hotel-view">
        <div id="slogan" class="fg-white">
            <h1 class="text-bold">Bienvenido a {{ Config.siteName }},</h1>
            <h4 class="text-bold">Un lugar extraño con gente genial.</h4>
            <button routerLink="/register" class="button habbo blue">¡Registrarme!</button>
        </div>
    </div>
  </div>