/* V2 aXDR GUEST */
.xdr-guest {
    background: #070d19;
    background: radial-gradient(circle at center, #00528c, #070d19);
}

.xdr-guest-header, .xdr-guest-footer {
    background: #101016;
    background: rgba(16,16,22,0.85);
    width: 100%;
}

.xdr-guest-header {
}

.xdr-guest-header .content {
    display: flex;
    padding: 15px 10px;
}

.xdr-guest-header .content #logo {
    width: 240px;
    height: 70px;
    background: url('../../../assets/images/gabbuz_small.png') no-repeat -21px 0px;
}

.xdr-guest-header #border-left {
    position: absolute;
    width: 164px;
    height: 1px;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #7aa3b9;
}

.xdr-guest-header #border-right {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 220px;
    bottom: 0;
    border-bottom: 1px solid #7aa3b9;
}

.xdr-guest-header #top-bar-triangle, .xdr-guest-header #top-bar-triangle-border {
    position: absolute;
    left: 163px;
    bottom: -29px;
    z-index: 99;
}

.xdr-guest-header #top-bar-triangle {
    font-size: 0;
    height: 0;
    line-height: 0;
    border-style: solid;
    float: left;
    margin: 0;
    border-color: #101016 transparent;
    border-color: rgba(16,16,22,0.85) transparent;
    border-width: 29px 29px 0 29px;
}

.xdr-guest-header #top-bar-triangle-border {
    background-image: url('../../../assets/images/top_bar_arrow_border.out.png');
    width: 58px;
    height: 29px;
}

.xdr-guest-middle {
    padding: 30px 20px 0;
    overflow: auto;
    height: 100%;
}

.xdr-guest-footer {
    height: 107px;
    display: flex;
    border-top: 1px solid #7aa3b9;
    align-items: center;
    padding: 0 20px;
    margin: auto auto 0 auto;
}

.xdr-guest-footer .content {
    padding: 20px 0;
}

.xdr-guest-footer .content #links {
}

.xdr-guest-footer .content #links a {
    color: #a1b5c8;
    text-decoration: none;
    font-size: 13px;
}

.xdr-guest-footer .content #copyright {
    width: 730px;
    margin-top: 10px;
    color: #425c73;
    font-size: 11px;
    font-style: italic;
}