.guest-body{
    background: #070d19;
    background: radial-gradient(circle at center, #00528c, #070d19);
    flex: 1 1 auto;
    flex-flow: row;
    height: 100%;
    overflow: hidden;
}

.guest-container {
    flex: 1 1 auto;
    overflow: auto;
    margin: 0;
}

.guest-header, .guest-footer {
    top: 0;
    min-height: 99px;
    width: 100%;
    background: #101016;
    background: rgba(16,16,22,0.85);
    z-index: 999;
}

.guest-footer {
    height: 107px;
    border-top: 1px solid #7aa3b9;
}

.guest-row {
    margin-right: 0;
    margin-left: 0;
}

#footer-content {
    float: left;
    margin-left: 50px;
    max-width: 62%;
}

#border-left {
    position: absolute;
    width: 164px;
    height: 1px;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #7aa3b9;
}

#border-right {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 220px;
    bottom: 0;
    border-bottom: 1px solid #7aa3b9;
}

#top-bar-triangle, #top-bar-triangle-border {
    position: absolute;
    left: 163px;
    bottom: -29px;
}

#top-bar-triangle {
    font-size: 0;
    height: 0;
    line-height: 0;
    border-style: solid;
    float: left;
    margin: 0;
    border-color: #101016 transparent;
    border-color: rgba(16,16,22,0.85) transparent;
    border-width: 29px 29px 0 29px;
}

#top-bar-triangle-border {
    background-image: url('../../../assets/images/top_bar_arrow_border.out.png');
    width: 58px;
    height: 29px;
}

#logo {
    position: absolute;
    width: 147px;
    height: 65px;
    background: url('../../../assets/images/habbologo_blackR.gif') 0 15px no-repeat;
    
    left: 32px;
    top: 16px;
}

#footer {
    margin-top: 19px;
}

#footer a {
    color: #a1b5c8;
    text-decoration: none;
    font-size: 13px;
}

#copyright {
    width: 730px;
    margin-top: 10px;
    color: #425c73;
    font-size: 11px;
    font-style: italic;
}